# üéµ Chinook SQL Analysis
**By Precious Ubong Fiberesima**

This project explores the Chinook digital music store database using SQL. The goal is to derive insights into sales trends, customer behavior, employee support activity, and music genre performance.

---

In [ ]:
#Setup & Database Connection (Code)
# Load SQL extension and connect to Chinook DB
%load_ext sql
%sql sqlite:///chinook.db

## üîç Database Overview

The Chinook database contains multiple related tables, including:

- Customers
- Invoices
- InvoiceLines
- Employees
- Tracks
- Albums
- Artists
- Genres
- MediaTypes

Let‚Äôs start by viewing all available tables and their columns.

In [ ]:
#  List Tables
%%sql
SELECT name FROM sqlite_master WHERE type='table';

In [ ]:
#View Table Schemas
tables = %sql SELECT name FROM sqlite_master WHERE type='table';
for table in tables:
    display(Markdown(f"### üî∏ {table[0]} Columns"))
    display(%sql PRAGMA table_info({table[0]}))

## üí∞1. Sales & Revenue Analysis

We‚Äôll explore total sales, top tracks, popular genres, and country-wise revenue.

In [ ]:
%%sql
--Top 5 Selling Tracks by Total Revenue

SELECT t.Name AS Track_Name, 
       ROUND(SUM(il.UnitPrice * il.Quantity), 2) AS Total_Revenue
FROM InvoiceLines il
JOIN Tracks t ON il.TrackId = t.TrackId
GROUP BY t.TrackId
ORDER BY Total_Revenue DESC
LIMIT 5;

In [ ]:
%%sql
--- Revenue per Genre

SELECT g.Name AS Genre, 
       ROUND(SUM(il.UnitPrice * il.Quantity), 2) AS Total_Revenue
FROM InvoiceLines il
JOIN Tracks t ON il.TrackId = t.TrackId
JOIN Genres g ON t.GenreId = g.GenreId
GROUP BY g.GenreId
ORDER BY Total_Revenue DESC;

In [ ]:
%%sql
---TOTAL SALES BY COUNTRY

SELECT c.Country,
       ROUND(SUM(il.UnitPrice * il.Quantity), 2) AS Total_Sales
FROM Customers c
JOIN Invoices i ON c.CustomerId = i.CustomerId
JOIN InvoiceLines il ON i.InvoiceId = il.InvoiceId
GROUP BY c.Country
ORDER BY Total_Sales DESC;

## 2. Customer Behaviour Analysis

In [ ]:
%%sql
---Top 5 Customers by Total Spend

SELECT c.FirstName || ' ' || c.LastName AS Customer_Name,
       ROUND(SUM(il.UnitPrice * il.Quantity), 2) AS Total_Spent
FROM Customers c
JOIN Invoices i ON c.CustomerId = i.CustomerId
JOIN InvoiceLines il ON i.InvoiceId = il.InvoiceId
GROUP BY c.CustomerId
ORDER BY Total_Spent DESC
LIMIT 5;

In [ ]:
%%sql
---- Invoices per Customer (Average)

SELECT ROUND(AVG(invoice_count), 2) AS Avg_Invoices_Per_Customer
FROM (
    SELECT CustomerId, COUNT(*) AS invoice_count
    FROM Invoices
    GROUP BY CustomerId
);

In [ ]:
%%sql
----Active Customers by City
SELECT City, COUNT(*) AS Active_Customers
FROM Customers
GROUP BY City
ORDER BY Active_Customers DESC
LIMIT 10;